/* headBar */

#DoctorsDashboard {
  margin: 0px 30px;
}

#tabs, #reward, #skipButton {
  display: inline-block;
}

#tabs {
  width: 20%;
  margin: 0;
  display: inline-block;
}

#reward {
  width: 40%;
  text-align: center;
  display: inline-block;
}

#skipButton {
  width: 15%;
  display: inline-block;
}

#skipButton button {
  float: right;
}

#headBar img {
  width: 300px;
}

/* tabbar */

#tabs button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  color: white
}

#skipButton button {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}
