/* tabbar */

#AppTabs {
  display: inline-block;
  width: 100%;
}

#AppTabs button {
  float: right;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 10px;
}

#AppTabs button:hover {
  background-color: #ddd;
}

#AppTabs button.active {
  background-color: #ddd;
}
